.card {
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin: 10px 2%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
}

.card__description {
    display: flex;
    align-items: center;
    padding: 32px;
    background: white;
    width: 100%;
}

.card__image {
    background: white;
    border-radius: 50px;
    min-width: 100px;
}

.card__header {
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.ibb.co/w0VXW17/header-img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-loading {
    padding: 0;
    background: white;
}

.card__info__place {
    font-size: 14px;
    color: var(--primary-light);
}

.card__info__time {
    font-size: 30px;
    color: var(--primary);
}

.card__info__date {
    font-size: 14px;
    color: var(--primary-light);
}

.card__weather {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.card__temp {
    font-size: 22px;
    margin-bottom: 10px;
}

.card__weather__temp {
    font-size: 12px;
}

.card__weather__icon,
img {
    animation: move 1s infinite alternate ease-in-out;
}

@media (min-width: 992px) {
    .card {
        width: 500px;
        align-items: center;
        margin: auto;
    }
    .card__temp {
        font-size: 30px;
    }
    .card__weather__temp {
        font-size: 14px;
    }
}


/* Reduce animation in case if it's user preference */

@media (prefers-reduced-motion) {
    .card__weather__icon,
    img {
        animation-name: dissolve;
    }
}

@keyframes move {
    to {
        transform: translateY(-10px);
    }
}