.input__container {
    position: relative;
}

.input__container input {
    outline: none;
    border: 2px solid var(--primary);
    padding: 16px 13px;
    font-size: 18px;
    border-radius: 25px;
    width: 100%;
}

.input__container input:valid+label {
    top: 3px;
    padding: 0 3px;
    font-size: 14px;
    color: var(--primary-light);
}

.input__container input:focus {
    border: 2px solid var(--primary);
}

.input__container label {
    color: var(--primary-light);
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
}

.input__container input:focus+label {
    top: 3px;
    padding: 0 3px;
    font-size: 14px;
    color: var(--primary);
}