html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-family: var(--font-body);
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    min-height: 100vh;
    background-position: bottom;
    background-size: cover;
}

body.dark-body {
    background-image: url('/public/dark_sky_optimized.jpg');
    --secondary: #eef7fe;
    --primary: #383e4e;
    --primary-light: #3c4153;
}

body.light-body {
    background-image: url('/public/cloudy_blue_sky_optimised.jpg');
    --secondary: #eef7fe;
    --primary: #014f99;
    --primary-light: #2F2F31;
}

main {
    margin-top: 10vh;
}

ul {
    list-style: none;
}

button {
    font-family: inherit;
    border: none;
    background: transparent;
    cursor: pointer;
}

.App {
    width: 100vw;
}

.input__location {
    margin: 10px;
    margin-bottom: 25px;
}