:root {
    --font-body: Arial, sans-serif;
    --secondary: #eef7fe;
    --primary: #22215B;
    --primary-light: #2F2F31;
}

body {
    margin: 0;
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}